.loginsignup{
    width: 100%;
    height: fit-content;
    padding: 10vh 0;
    background-color:#eee ;
}
.loginsignup>div{
    height: 500px;
    width: fit-content;
    margin:50px auto;
    display: flex;
    justify-content: center;
    gap: 0px;
}
.login-img>img{
    width: auto;
    height: 100%;
}
.login-img{
    width: 250px;
}

.cont{
    background-color: #fff;
    width: 400px;
    height: auto;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    outline: rgb(1, 0, 0) solid 1px;
}
.cont h1{
    font-weight: 500;
    margin: 10px auto;
}
.ls-fields{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 1vh 0;
}
.field input{
    background-color: #fff;
    width: 100%;
    height: 30px;
    border: none;
    border-bottom:#333 solid 1px;
    outline: none;
    padding-left: 10px;
    margin-top: 5px;
}
.field input::placeholder{
    color: transparent;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
  }
.field p{
    font-size: 15px;
}
.eye{
    width: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
}
.eye>img{
    width: 20px;
    height: auto;
    cursor: pointer;
}
.password{
    display: flex;
    align-items: center;
    border-bottom:#333 solid 1px;
}
.password>input{
    border-bottom:none;
}
.btn>input{
    width: 175px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: lightcoral;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}
.btn{
    margin: 10px auto;
}
.btn + div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.login-here{
    font-size: 12px;
    color: #555;
    font-weight: 500;
    margin: 10px 0;
}
.login-here span{
    color: lightcoral;
    font-weight: 600;
    cursor: pointer;
}
.agree{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 12px;
    font-weight: 500;
    color: #555;
}
.agree p span{
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
}
@media (max-width:1280px){
    .loginsignup{
        padding-top: 8vh;
    }
    .btn>input{
        width: 150px;
        font-size: 18px;
    }
    .ls-fields{
        gap: auto;
    }
    
}
@media (max-width:1024px){
    .loginsignup>div{
        height: 450px;
    }
    .cont{
        width: 375px;
    }
    .btn > input{
        width: 120px;
    }
}
@media (max-width:800px){
    
    .login-img{
        display: none;
    }
}
@media(max-width:576px){
    .btn+div{
        gap: 10px;
    }
    .cont{
        width: 350px;
    }
    .btn > input{
        height: 45px;
    }
    .ls-fields{
        gap: 20px;
    }
    .field p{
        display: none;
    }
    .field input{
        font-size: 16px;
    }
    .field input::placeholder{
        color: grey;
    }
}
