.navbar{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background: white;
}
.navbar p{
    margin: 0;
}
.nav-logo{
    display: flex;
    align-items: center;
    width: 250px;
}
.nav-logo img{
    width:100%;
    height: auto;
    grid-row: span 2;
}
.nav-profile>img{
    width: 40px;
    height: auto;
}
@media (max-width:800px){
    .navbar{
        padding: 15px 30px;
    }
    .nav-logo{
        width: 200px;
    }
    .nav-profile>img{
        width: 35px;
        height: auto;
    }
}
